<div style="margin-bottom:40px" id="detemp">
<div class="col-md-10">
<div class="col-md-5"><img ng-src="{{$ctrl.mainImageUrl}}" class="loc" />
</div>
<div class="col-md-4">
<h1>{{$ctrl.loc.title}}</h1>

<p>{{$ctrl.loc.address}}</p>

<ul class="loc-thumbs">
  <li ng-repeat="img in $ctrl.loc.images">
    <img ng-src="{{img}}" ng-click="$ctrl.setImage(img)"/>
  </li>
</ul>
</div>
<div class="col-md-1"></div>
</div>
<div class="col-md-10">
<div class="col-md-5">
<h2>Additional Info:</h2>
{{$ctrl.loc.additionalInfo}}
<h2>Working time:</h2>
<dl>
      <dt>monday-friday</dt>
      <dd>{{$ctrl.loc.workingtime.monfri}}</dd>
      <dt>saturday-sunday</dt>      
      <dd>{{$ctrl.loc.workingtime.satsun}}</dd>
</dl>
</div>
<div class="col-md-4">
 <h2 style="margin-top:0px; vertical-align:top">Price list</h2>
    <ul>
      <li ng-repeat="price in $ctrl.loc.prices">
        <span>{{price}}</span>
      </li>
      <li>&nbsp;</li>
    </ul> 
</div>	
<div class="col-md-1"></div>
</div>
<div class="col-md-8">&nbsp;</div>
</div>
