h1 {
  border-bottom: 1px solid gray;
}

ul {
	list-style-type:none;
}

.jumbotron {
	padding: 5px;
	vertical-align: center;
}
.list {
	line-height: 25px;
}

input{
	width: 100%;
	padding: 10px;
}

.row {
	/*background: url(bgrnd.jpg);*/
	background-color: #343434;
	height: 300px;

}
.col-md-4 {
	padding-top: 140px;
}
#som .col-md-4 {
	padding-top: 15px;
}
.pic-col {
	vertical-align: center;
	width: 180px;
}
img {
	width: 150px;
	padding: 10px;

}

.results {
	padding-top: 0px;
	vertical-align: center;
	margin-top: 0px;
}

.locs {
  list-style: none;
}

.locs li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

.loc {
  background-color: white;
  border: 1px solid black;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.loc-thumbs {
  list-style: none;
  margin: 0;
}

.loc-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.loc-thumbs li {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
}
