<div class="col-md-4"></div>
<div class="col-md-4">
<h3>Find your new location for traning</h3>
            <div class="jumbotron">
              <input ng-model="$ctrl.query" placeholder="Search..." />
            </div>
         
      

    
 <div class="results" id="som">
      
          
      <ul ng-show="$ctrl.query"  class="col-md-12 locs">
          <li ng-repeat="loc in $ctrl.locs | filter:$ctrl.query" class="thumbnail">
          <a href="#/locs/{{loc.id}}" class="thumb">
           <img ng-src="{{loc.pic}}" alt="{{loc.name}}" />

        </a>
        <a href="#/locs/{{loc.id}}">{{loc.name}}</a>
        <p>{{loc.address}}</p>

          </li>
      </ul>
      
    
  </div>
</div>
<div class="col-md-4"></div>
